<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>CoffeeRun - Group Order List</title>
</head>
<body>

<div>
    <h3>Group Orders List</h3>
    <ul>
        {% for group_order in group_orders %}
        <li>
            <a href="{% url 'group_order_detail' group_order.pk %}">Date: {{group_order.order_date}} | Total Price: ${{group_order.total_price}} | Payer: {{group_order.payer.name}}</a>
        </li>
        {% endfor %}
    </ul>
</div>

<div>
    <span><a href="{% url 'index' %}">Back to Index</a></span>
    <span><a href="{% url 'group_order_create' %}">Create New Group Order</a></span>
</div>

</body>
</html>