<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>CoffeeRun - User List</title>
</head>
<body>

<h3>CoffeeRun Users</h3>

<ul>
    {% for user in users %}
    <li>
        <a href="{% url 'user_update' user.pk %}">{{user.name}} | Net Credit: {{user.net_credit}} | Last Payment Date {{user.last_payment_date}}</a>
    </li>
    {% endfor %}
</ul>

<div>
    <span><a href="{% url 'index' %}">Back to Index</a></span>
    <span><a href="{% url 'user_create' %}">Create New User</a></span>
</div>

</body>
</html>