<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>CoffeeRun - User Form</title>
</head>
<body>
    <h1>User</h1>
    <form action={% url 'user_create'%} method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </div>
        {% endfor %}
        <input type="submit" value="Submit">
    </form>

    <div>
        <span><a href="{% url 'index' %}">Back to Index</a></span>
        <span><a href="{% url 'user_list' %}">Users List</a></span>
    </div>

</body>
</html>